/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* по умолчанию */
}
body {
  line-height: 1;
  overflow-x: hidden;
}
.wrapper {
  min-height: 100%;
}
._container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* ================================================================= */
.header {
  background: url("../img/laptop.jpg") 100% 100% / cover no-repeat fixed;
  padding: 50px 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
.header__logo {
  text-align: center;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  margin: 0px 0px 30px 0px;
}
.header__logo._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.2s;
}
.header__title {
  text-align: center;
  font-size: 90px;
  font-weight: 900;
  color: #fff;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.header__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.header__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}
.header__text {
  font-size: 30px;
  font-weight: 700;
  color: #fff;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.header__text:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.header__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.6s;
}

.block {
  background: url("../img/home-office.jpg") 100% 100% / cover no-repeat fixed;
  padding: 50px 0;
  height: 100%;
  width: 100%;
  position: relative;
}
.block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.block__title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.block__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.6s;
}
.block__text {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0px 0px 30px 0px;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.block__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.6s;
}
.block__list {
  padding: 70px 0;
  overflow: hidden;
}
.block__item {
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 20px 0px;
  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.block__item::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}
.block__item._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.6s;
}
.footer {
  background: url("../img/booknote.jpg") 100% 100% / cover no-repeat fixed;
  position: relative;
  height: 100%;
  width: 100%;
}
.footer::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.footer__social {
  position: relative;
  text-align: center;
  padding: 50px 0 0 0;
}
.footer__title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.footer__title:not(:last-child) {
}
.footer__list {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.footer__item {
  color: inherit;
  margin: 0px 0px 20px 0px;
}
.footer__item:not(:last-child) {
}
.footer__link {
  color: inherit;
}
@media (max-width: 768px) {
  .header {
    height: 200vw;
  }
  .header__title {
    font-size: 30px;
  }
  .header__text {
    font-size: 20px;
    margin: 0px 0px 50px 0px;
  }
  .block__title {
    font-size: 30px;
  }
  .block__text {
    font-size: 20px;
  }
  .block__item {
    list-style: none;
    font-size: 20px;
  }
  .footer {
  }
}
