/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
}

li {
   list-style: none;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

img {
   vertical-align: top;
}

/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------------------- */

#hot {
   color: mediumblue;
}

.header .menu .list .item .link {
   color: black;
}

.footer .list .item .link {
   color: black;
}

.tech {
   color: darkblue;
}

span {
   color: green;
}

.title {
   color: darkred;
}

.text {
   color: darkgoldenrod;
}

.footer {
   color: blue;
}

.geo {
   color: dimgrey;
}
