@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

body{
    color: #000;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.clear{
    clear: both;
}
.wrapper {}

.header {
    padding: 15px 0;
    background-color: #edd1de;

}

.logo {
    float: left;
    width: 15%;
}
.logo a img{
    width: 100px;
}
.menu {
    float: left;
    width: 70%;
    margin: 37px 0px;
}
.menu__list {
    
}
.menu__item {
    float: left;
}
.menu__link {
    font-size: 25px;
    padding: 5px 25px;
    font-weight: 700;
    color: #50250696;
}
.menu__link:hover{
    color: #710303;
}
.menu__link.active{
    color: #000;
}
.tel {
    float: left;
    width: 15%;
    text-align: right;
    margin: 40px 0;
}
.tel a{
    color: #000;
    font-size: 20px;
}

.home-section{
    min-height: calc(100vh - 130px - 55px) ;

}



.content {
    width: 80%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    border-left: 1px solid #000;

}
.content__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.content__text {
    margin-bottom: 20px;

}
.sidebar {
    width: 20%;
    float: left;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.sidebar__list {

}
.sidebar__item {
    margin: 30px;
}
.sidebar__link {
    font-size: 20px;
    font-weight: 700;
}
.sidebar__link:hover{
    color: #710303;
}

.footer {
    background-color: #000;
    padding: 20px 0;
}
.container {}
.footer-p {
    color: #fff;
    text-align: center;
}