@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:regular,700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}
@media (min-width: 76.875em) {
  .title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .title {
    font-size: clamp( 1.25rem , 0.3708791209rem  +  4.3956043956vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .title {
    line-height: 4.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .title {
    line-height: clamp( 1.25rem , 0.217032967rem  +  5.1648351648vw , 4.1875rem );
  }
}
@media (max-width: 20em) {
  .title {
    line-height: 1.25rem;
  }
}

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}
@media (max-width: 61.99875em) {
  .header {
    background-position: right center;
  }
}
.header::before {
  content: "";
  position: absolute;
  background-image: url(../img/header-decor.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(50%);
  z-index: 2;
}
@media (min-width: 76.875em) {
  .header::before {
    bottom: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header::before {
    bottom: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header::before {
    bottom: 0rem;
  }
}
@media (min-width: 76.875em) {
  .header::before {
    left: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header::before {
    left: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header::before {
    left: 0rem;
  }
}
@media (min-width: 76.875em) {
  .header::before {
    right: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header::before {
    right: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header::before {
    right: 0rem;
  }
}
@media (min-width: 76.875em) {
  .header::before {
    min-height: 28.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header::before {
    min-height: clamp( 18.75rem , 15.3214285714rem  +  17.1428571429vw , 28.5rem );
  }
}
@media (max-width: 20em) {
  .header::before {
    min-height: 18.75rem;
  }
}
.header::after {
  content: "";
  position: absolute;
  background-image: url(../img/header-decor.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(100%) rotate(180deg);
  z-index: 3;
}
@media (min-width: 76.875em) {
  .header::after {
    bottom: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header::after {
    bottom: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header::after {
    bottom: 0rem;
  }
}
@media (min-width: 76.875em) {
  .header::after {
    left: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header::after {
    left: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header::after {
    left: 0rem;
  }
}
@media (min-width: 76.875em) {
  .header::after {
    right: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header::after {
    right: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header::after {
    right: 0rem;
  }
}
@media (min-width: 76.875em) {
  .header::after {
    min-height: 28.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header::after {
    min-height: clamp( 18.75rem , 15.3214285714rem  +  17.1428571429vw , 28.5rem );
  }
}
@media (max-width: 20em) {
  .header::after {
    min-height: 18.75rem;
  }
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}
@media (min-width: 76.875em) {
  .header__top {
    padding-top: 3.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__top {
    padding-top: clamp( 0.625rem , -0.407967033rem  +  5.1648351648vw , 3.5625rem );
  }
}
@media (max-width: 20em) {
  .header__top {
    padding-top: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .header__top {
    padding-bottom: 3.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__top {
    padding-bottom: clamp( 0.625rem , -0.407967033rem  +  5.1648351648vw , 3.5625rem );
  }
}
@media (max-width: 20em) {
  .header__top {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .header__top {
    padding-right: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__top {
    padding-right: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header__top {
    padding-right: 0rem;
  }
}
@media (min-width: 76.875em) {
  .header__top {
    padding-left: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__top {
    padding-left: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header__top {
    padding-left: 0rem;
  }
}
@media (min-width: 76.875em) {
  .header__top {
    gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__top {
    gap: clamp( 1.25rem , -0.5082417582rem  +  8.7912087912vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .header__top {
    gap: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .header__top {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__top {
    font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .header__top {
    font-size: 1rem;
  }
}
@media (min-width: 76.875em) {
  .header__top {
    line-height: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__top {
    line-height: clamp( 1rem , 0.8681318681rem  +  0.6593406593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .header__top {
    line-height: 1rem;
  }
}
@media (max-width: 61.99875em) {
  .header__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 47.99875em) {
  .header__top {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.header__logo::path {
  transition: fill 0.3s ease 0s;
}
.header__logo:hover path {
  fill: #0093a1;
  transition: fill 0.3s ease 0s;
}
.header__btn {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #262c27;
  cursor: pointer;
  border: none;
}
@media (min-width: 76.875em) {
  .header__btn {
    padding-top: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__btn {
    padding-top: clamp( 0.375rem , 0.2431318681rem  +  0.6593406593vw , 0.75rem );
  }
}
@media (max-width: 20em) {
  .header__btn {
    padding-top: 0.375rem;
  }
}
@media (min-width: 76.875em) {
  .header__btn {
    padding-bottom: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__btn {
    padding-bottom: clamp( 0.375rem , 0.2431318681rem  +  0.6593406593vw , 0.75rem );
  }
}
@media (max-width: 20em) {
  .header__btn {
    padding-bottom: 0.375rem;
  }
}
@media (min-width: 76.875em) {
  .header__btn {
    padding-right: 4.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__btn {
    padding-right: clamp( 3.125rem , 2.6634615385rem  +  2.3076923077vw , 4.4375rem );
  }
}
@media (max-width: 20em) {
  .header__btn {
    padding-right: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .header__btn {
    padding-left: 4.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__btn {
    padding-left: clamp( 3.125rem , 2.6634615385rem  +  2.3076923077vw , 4.4375rem );
  }
}
@media (max-width: 20em) {
  .header__btn {
    padding-left: 3.125rem;
  }
}
.header__phone {
  color: #262c27;
}
@media (min-width: 76.875em) {
  .header__phone {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__phone {
    margin-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .header__phone {
    margin-bottom: 1.875rem;
  }
}
.header__phone:hover {
  color: #0093a1;
}
@media (max-width: 61.99875em) {
  .header__phone {
    color: #0093a1;
  }
}
@media (max-width: 61.99875em) and (min-width: 76.875em) {
  .header__phone {
    font-size: 2.1875rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  .header__phone {
    font-size: clamp( 2.8125rem , 3.0322802198rem  +  -1.0989010989vw , 2.1875rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .header__phone {
    font-size: 2.8125rem;
  }
}
.header__content {
  min-height: calc(100vh - 161px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.header__content-box {
  text-align: center;
  color: #fff;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  position: absolute;
  z-index: 7;
}
@media (min-width: 76.875em) {
  .header__content-box {
    max-width: 34.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__content-box {
    max-width: clamp( 34.375rem , 34.375rem  +  0vw , 34.375rem );
  }
}
@media (max-width: 20em) {
  .header__content-box {
    max-width: 34.375rem;
  }
}
@media (min-width: 76.875em) {
  .header__content-box {
    margin-right: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__content-box {
    margin-right: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .header__content-box {
    margin-right: 1.25rem;
  }
}
.header__title {
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 76.875em) {
  .header__title {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__title {
    font-size: clamp( 1.875rem , 1.1277472527rem  +  3.7362637363vw , 4rem );
  }
}
@media (max-width: 20em) {
  .header__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .header__title {
    line-height: 4.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__title {
    line-height: clamp( 1rem , -0.2087912088rem  +  6.043956044vw , 4.4375rem );
  }
}
@media (max-width: 20em) {
  .header__title {
    line-height: 1rem;
  }
}
@media (min-width: 76.875em) {
  .header__title {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__title {
    margin-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .header__title {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .header__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__text {
    font-size: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .header__text {
    font-size: 1rem;
  }
}
@media (min-width: 76.875em) {
  .header__text {
    line-height: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__text {
    line-height: clamp( 1rem , 0.7582417582rem  +  1.2087912088vw , 1.6875rem );
  }
}
@media (max-width: 20em) {
  .header__text {
    line-height: 1rem;
  }
}
@media (min-width: 76.875em) {
  .header__text {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__text {
    margin-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .header__text {
    margin-bottom: 0.9375rem;
  }
}
.header__decor-text {
  position: absolute;
  color: #0093a1;
}
@media (min-width: 76.875em) {
  .header__decor-text {
    bottom: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text {
    bottom: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text {
    bottom: 0rem;
  }
}
.header__decor-text--1 {
  z-index: 1;
  opacity: 0.3;
  font-weight: 400;
  color: #0093a1;
  font-family: "Comfortaa", cursive;
  position: absolute;
}
@media (min-width: 76.875em) {
  .header__decor-text--1 {
    font-size: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--1 {
    font-size: clamp( 3.125rem , 1.3667582418rem  +  8.7912087912vw , 8.125rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--1 {
    font-size: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--1 {
    line-height: 9.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--1 {
    line-height: clamp( 1.875rem , -0.6524725275rem  +  12.6373626374vw , 9.0625rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--1 {
    line-height: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--1 {
    bottom: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--1 {
    bottom: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--1 {
    bottom: 0rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--1 {
    right: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--1 {
    right: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--1 {
    right: 3.125rem;
  }
}
.header__decor-text--2 {
  font-weight: 400;
  opacity: 0.7;
  color: #0093a1;
  font-family: "Comfortaa", cursive;
  position: absolute;
  z-index: 4;
}
@media (min-width: 76.875em) {
  .header__decor-text--2 {
    font-size: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--2 {
    font-size: clamp( 3.125rem , 1.3667582418rem  +  8.7912087912vw , 8.125rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--2 {
    font-size: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--2 {
    line-height: 9.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--2 {
    line-height: clamp( 1.875rem , -0.6524725275rem  +  12.6373626374vw , 9.0625rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--2 {
    line-height: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--2 {
    top: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--2 {
    top: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--2 {
    top: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--2 {
    right: 34.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--2 {
    right: clamp( 12.5rem , 4.8076923077rem  +  38.4615384615vw , 34.375rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--2 {
    right: 12.5rem;
  }
}
.header__decor-text--3 {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: #0093a1;
  z-index: 4;
  position: absolute;
}
@media (min-width: 76.875em) {
  .header__decor-text--3 {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--3 {
    font-size: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--3 {
    font-size: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--3 {
    line-height: 2.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--3 {
    line-height: clamp( 1.25rem , 0.8324175824rem  +  2.0879120879vw , 2.4375rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--3 {
    line-height: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--3 {
    max-width: 22.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--3 {
    max-width: clamp( 0.625rem , -7.0673076923rem  +  38.4615384615vw , 22.5rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--3 {
    max-width: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--3 {
    top: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--3 {
    top: clamp( 0.3125rem , -0.0171703297rem  +  1.6483516484vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--3 {
    top: 0.3125rem;
  }
}
@media (min-width: 76.875em) {
  .header__decor-text--3 {
    right: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__decor-text--3 {
    right: clamp( 1.25rem , -2.706043956rem  +  19.7802197802vw , 12.5rem );
  }
}
@media (max-width: 20em) {
  .header__decor-text--3 {
    right: 1.25rem;
  }
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
.footer {
  background-color: #262c27;
  color: #fff;
}
@media (min-width: 76.875em) {
  .footer {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer {
    padding-top: clamp( 4.375rem , 3.7156593407rem  +  3.2967032967vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 4.375rem;
  }
}
@media (min-width: 76.875em) {
  .footer {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer {
    padding-bottom: clamp( 3.125rem , 2.4656593407rem  +  3.2967032967vw , 5rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-bottom: 3.125rem;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .footer__top {
    flex-direction: column-reverse;
  }
}
@media (max-width: 61.99875em) and (min-width: 76.875em) {
  .footer__top {
    gap: 3.125rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  .footer__top {
    gap: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .footer__top {
    gap: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .footer__title {
    margin-bottom: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__title {
    margin-bottom: clamp( 1.125rem , 0.9271978022rem  +  0.989010989vw , 1.6875rem );
  }
}
@media (max-width: 20em) {
  .footer__title {
    margin-bottom: 1.125rem;
  }
}
.footer__form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: block;
  width: 100%;
  color: #fff;
}
@media (min-width: 76.875em) {
  .footer__form-input {
    padding-top: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-input {
    padding-top: clamp( 0.3125rem , 0.2026098901rem  +  0.5494505495vw , 0.625rem );
  }
}
@media (max-width: 20em) {
  .footer__form-input {
    padding-top: 0.3125rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-input {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-input {
    padding-bottom: clamp( 0.3125rem , 0.2026098901rem  +  0.5494505495vw , 0.625rem );
  }
}
@media (max-width: 20em) {
  .footer__form-input {
    padding-bottom: 0.3125rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-input {
    padding-right: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-input {
    padding-right: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .footer__form-input {
    padding-right: 0rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-input {
    padding-left: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-input {
    padding-left: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .footer__form-input {
    padding-left: 0rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-input {
    margin-bottom: 3.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-input {
    margin-bottom: clamp( 1.875rem , 1.2815934066rem  +  2.967032967vw , 3.5625rem );
  }
}
@media (max-width: 20em) {
  .footer__form-input {
    margin-bottom: 1.875rem;
  }
}
.footer__form-input::placeholder {
  font-weight: 700;
  opacity: 0.2;
}
@media (min-width: 76.875em) {
  .footer__form-input::placeholder {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-input::placeholder {
    font-size: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .footer__form-input::placeholder {
    font-size: 1rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-input::placeholder {
    line-height: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-input::placeholder {
    line-height: clamp( 1rem , 0.8681318681rem  +  0.6593406593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .footer__form-input::placeholder {
    line-height: 1rem;
  }
}
.footer__form-btn {
  background-color: #fff;
  padding: 10px 66px;
  border: none;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
}
@media (min-width: 76.875em) {
  .footer__form-btn {
    padding-top: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-btn {
    padding-top: clamp( 0.375rem , 0.2870879121rem  +  0.4395604396vw , 0.625rem );
  }
}
@media (max-width: 20em) {
  .footer__form-btn {
    padding-top: 0.375rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-btn {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-btn {
    padding-bottom: clamp( 0.375rem , 0.2870879121rem  +  0.4395604396vw , 0.625rem );
  }
}
@media (max-width: 20em) {
  .footer__form-btn {
    padding-bottom: 0.375rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-btn {
    padding-right: 4.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-btn {
    padding-right: clamp( 3.125rem , 2.7733516484rem  +  1.7582417582vw , 4.125rem );
  }
}
@media (max-width: 20em) {
  .footer__form-btn {
    padding-right: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-btn {
    padding-left: 4.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-btn {
    padding-left: clamp( 3.125rem , 2.7733516484rem  +  1.7582417582vw , 4.125rem );
  }
}
@media (max-width: 20em) {
  .footer__form-btn {
    padding-left: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-btn {
    margin-bottom: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-btn {
    margin-bottom: clamp( 5rem , 4.3406593407rem  +  3.2967032967vw , 6.875rem );
  }
}
@media (max-width: 20em) {
  .footer__form-btn {
    margin-bottom: 5rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-btn {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-btn {
    font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .footer__form-btn {
    font-size: 1rem;
  }
}
@media (min-width: 76.875em) {
  .footer__form-btn {
    line-height: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__form-btn {
    line-height: clamp( 1rem , 0.8681318681rem  +  0.6593406593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .footer__form-btn {
    line-height: 1rem;
  }
}
.footer__logo {
  align-self: flex-start;
}
.footer__logo path {
  transition: fill 0.3s ease 0s;
}
.footer__logo:hover path {
  fill: #0093a1;
}
.footer__social-title {
  font-weight: 700;
}
@media (min-width: 76.875em) {
  .footer__social-title {
    margin-bottom: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__social-title {
    margin-bottom: clamp( 1.125rem , 0.9052197802rem  +  1.0989010989vw , 1.75rem );
  }
}
@media (max-width: 20em) {
  .footer__social-title {
    margin-bottom: 1.125rem;
  }
}
.footer__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (min-width: 76.875em) {
  .footer__gallery {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__gallery {
    gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .footer__gallery {
    gap: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .footer__gallery {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__gallery {
    margin-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .footer__gallery {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 1130px) {
  .footer__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 2.1875em) {
  .footer__gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__gallery-item {
  width: 100%;
}
.footer__menu-list {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.footer__menu-item {
  list-style: none;
}
@media (min-width: 76.875em) {
  .footer__menu-link {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__menu-link {
    font-size: clamp( 0.625rem , 0.4931318681rem  +  0.6593406593vw , 1rem );
  }
}
@media (max-width: 20em) {
  .footer__menu-link {
    font-size: 0.625rem;
  }
}

.info {
  background-image: url(../img/info-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.info::before {
  content: "";
  position: absolute;
  min-height: 180px;
  background-color: #262c27;
  transform: translateY(-20px);
}
@media (min-width: 76.875em) {
  .info::before {
    top: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info::before {
    top: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .info::before {
    top: 0rem;
  }
}
@media (min-width: 76.875em) {
  .info::before {
    left: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info::before {
    left: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .info::before {
    left: 0rem;
  }
}
@media (min-width: 76.875em) {
  .info::before {
    right: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info::before {
    right: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .info::before {
    right: 0rem;
  }
}
.info__top {
  display: flex;
  margin-bottom: 70vh;
}
@media (min-width: 76.875em) {
  .info__top {
    padding-top: 10.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__top {
    padding-top: clamp( 6.25rem , 4.7115384615rem  +  7.6923076923vw , 10.625rem );
  }
}
@media (max-width: 20em) {
  .info__top {
    padding-top: 6.25rem;
  }
}
@media (min-width: 76.875em) {
  .info__top {
    gap: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__top {
    gap: clamp( 3.125rem , 2.4656593407rem  +  3.2967032967vw , 5rem );
  }
}
@media (max-width: 20em) {
  .info__top {
    gap: 3.125rem;
  }
}
@media (max-width: 61.99875em) {
  .info__top {
    display: block;
  }
}
.info__top-text {
  font-family: "Inter";
  font-weight: 400;
  color: #ffffff;
  position: relative;
}
@media (min-width: 76.875em) {
  .info__top-text {
    padding-top: 15.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__top-text {
    padding-top: clamp( 6.25rem , 3.0631868132rem  +  15.9340659341vw , 15.3125rem );
  }
}
@media (max-width: 20em) {
  .info__top-text {
    padding-top: 6.25rem;
  }
}
@media (min-width: 76.875em) {
  .info__top-text {
    width: 18.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__top-text {
    width: clamp( 0.625rem , -5.5288461538rem  +  30.7692307692vw , 18.125rem );
  }
}
@media (max-width: 20em) {
  .info__top-text {
    width: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .info__top-text {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__top-text {
    font-size: clamp( 0.9375rem , 0.8715659341rem  +  0.3296703297vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .info__top-text {
    font-size: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .info__top-text {
    line-height: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__top-text {
    line-height: clamp( 1rem , 0.8681318681rem  +  0.6593406593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .info__top-text {
    line-height: 1rem;
  }
}
@media (max-width: 61.99875em) {
  .info__top-text {
    width: 100%;
  }
}
@media (min-width: 76.875em) {
  .info__top-text--one {
    padding-bottom: 7.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__top-text--one {
    padding-bottom: clamp( 6.25rem , 5.7005494505rem  +  2.7472527473vw , 7.8125rem );
  }
}
@media (max-width: 20em) {
  .info__top-text--one {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 76.875em) {
  .info__btn {
    bottom: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__btn {
    bottom: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .info__btn {
    bottom: 0rem;
  }
}
@media (min-width: 76.875em) {
  .info__btn {
    right: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__btn {
    right: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .info__btn {
    right: 0rem;
  }
}
.info__btn--sp {
  display: block;
  color: #fff;
  font-family: "Inter";
  font-weight: 400;
  transition: color 0.3s ease 0s;
}
@media (min-width: 76.875em) {
  .info__btn--sp {
    padding-top: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__btn--sp {
    padding-top: clamp( 0.3125rem , 0.1586538462rem  +  0.7692307692vw , 0.75rem );
  }
}
@media (max-width: 20em) {
  .info__btn--sp {
    padding-top: 0.3125rem;
  }
}
@media (min-width: 76.875em) {
  .info__btn--sp {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__btn--sp {
    font-size: clamp( 0.9375rem , 0.8715659341rem  +  0.3296703297vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .info__btn--sp {
    font-size: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .info__btn--sp {
    line-height: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__btn--sp {
    line-height: clamp( 1rem , 0.8681318681rem  +  0.6593406593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .info__btn--sp {
    line-height: 1rem;
  }
}
.info__btn--sp:hover {
  color: #0093a1;
}
.info__top-text--two {
  border-bottom: 1px solid #fff;
}
@media (max-width: 61.99875em) and (min-width: 76.875em) {
  .info__top-text--two {
    padding-bottom: 1.5625rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  .info__top-text--two {
    padding-bottom: clamp( 1.25rem , 1.1401098901rem  +  0.5494505495vw , 1.5625rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .info__top-text--two {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 76.875em) {
  .info__top-text--two {
    padding-top: 2.8125rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  .info__top-text--two {
    padding-top: clamp( 1.25rem , 0.7005494505rem  +  2.7472527473vw , 2.8125rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .info__top-text--two {
    padding-top: 1.25rem;
  }
}
.info__top-img {
  position: relative;
  z-index: 6;
}
@media (max-width: 61.99875em) {
  .info__top-img {
    display: block;
    margin: 0 auto;
  }
}
.info__specs {
  display: flex;
  align-items: center;
  color: #ffffff;
}
@media (min-width: 76.875em) {
  .info__specs {
    gap: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs {
    gap: clamp( 6.25rem , 5.5906593407rem  +  3.2967032967vw , 8.125rem );
  }
}
@media (max-width: 20em) {
  .info__specs {
    gap: 6.25rem;
  }
}
@media (min-width: 76.875em) {
  .info__specs {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs {
    padding-bottom: clamp( 1.25rem , 0.5906593407rem  +  3.2967032967vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .info__specs {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 73.75em) {
  .info__specs {
    flex-direction: column;
  }
}
@media (min-width: 76.875em) {
  .info__specs-title {
    width: 15.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-title {
    width: clamp( 0.625rem , -4.6497252747rem  +  26.3736263736vw , 15.625rem );
  }
}
@media (max-width: 20em) {
  .info__specs-title {
    width: 0.625rem;
  }
}
.info__specs-list {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: "Inter";
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 76.875em) {
  .info__specs-list {
    padding-top: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-list {
    padding-top: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .info__specs-list {
    padding-top: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .info__specs-list {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-list {
    padding-bottom: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .info__specs-list {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .info__specs-list {
    padding-right: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-list {
    padding-right: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .info__specs-list {
    padding-right: 0rem;
  }
}
@media (min-width: 76.875em) {
  .info__specs-list {
    padding-left: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-list {
    padding-left: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .info__specs-list {
    padding-left: 0rem;
  }
}
@media (min-width: 76.875em) {
  .info__specs-list {
    width: 35.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-list {
    width: clamp( 31.25rem , 29.8214285714rem  +  7.1428571429vw , 35.3125rem );
  }
}
@media (max-width: 20em) {
  .info__specs-list {
    width: 31.25rem;
  }
}
@media (min-width: 76.875em) {
  .info__specs-list {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-list {
    font-size: clamp( 0.9375rem , 0.8715659341rem  +  0.3296703297vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .info__specs-list {
    font-size: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .info__specs-list {
    line-height: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-list {
    line-height: clamp( 1rem , 0.8681318681rem  +  0.6593406593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .info__specs-list {
    line-height: 1rem;
  }
}
.info__specs-item {
  display: flex;
}
@media (min-width: 76.875em) {
  .info__specs-item {
    gap: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-item {
    gap: clamp( 1.25rem , 1.1401098901rem  +  0.5494505495vw , 1.5625rem );
  }
}
@media (max-width: 20em) {
  .info__specs-item {
    gap: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .info__specs-item {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-item {
    margin-bottom: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem );
  }
}
@media (max-width: 20em) {
  .info__specs-item {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 76.875em) {
  .info__specs-item {
    gap: 3.125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-item {
    gap: clamp( 3.125rem , 3.125rem  +  0vw , 3.125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .info__specs-item {
    gap: 3.125rem;
  }
}
@media (max-width: 33.75em) {
  .info__specs-item {
    display: block;
  }
}
@media (max-width: 33.75em) and (min-width: 76.875em) {
  .info__specs-item {
    padding-left: 12.5rem;
  }
}
@media (max-width: 33.75em) and (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-item {
    padding-left: clamp( 6.25rem , 4.0521978022rem  +  10.989010989vw , 12.5rem );
  }
}
@media (max-width: 33.75em) and (max-width: 20em) {
  .info__specs-item {
    padding-left: 6.25rem;
  }
}
@media (min-width: 76.875em) {
  .info__specs-caption {
    width: 11.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .info__specs-caption {
    width: clamp( 0.625rem , -3.2211538462rem  +  19.2307692308vw , 11.5625rem );
  }
}
@media (max-width: 20em) {
  .info__specs-caption {
    width: 0.625rem;
  }
}
.popup-btn {
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
}
.popup-btn:hover path {
  fill: #b9c400;
}
.popup-btn:hover circle {
  stroke: #b9c400;
}
.popup-btn:hover path, .popup-btn:hover circle {
  transition: all 0.3s ease 0s;
}

@media (min-width: 76.875em) {
  .buy {
    padding-top: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy {
    padding-top: clamp( 8.125rem , 7.6854395604rem  +  2.1978021978vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .buy {
    padding-top: 8.125rem;
  }
}
.buy__inner {
  display: flex;
  align-items: center;
}
@media (min-width: 76.875em) {
  .buy__inner {
    gap: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__inner {
    gap: clamp( 1.875rem , 0.5563186813rem  +  6.5934065934vw , 5.625rem );
  }
}
@media (max-width: 20em) {
  .buy__inner {
    gap: 1.875rem;
  }
}
@media (max-width: 61.99875em) {
  .buy__inner {
    flex-direction: column;
    justify-content: center;
  }
}
.buy__content {
  position: relative;
}
@media (min-width: 76.875em) {
  .buy__content {
    width: 31.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__content {
    width: clamp( 0.625rem , -10.364010989rem  +  54.9450549451vw , 31.875rem );
  }
}
@media (max-width: 20em) {
  .buy__content {
    width: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .buy__content {
    width: 100%;
  }
}
.buy__title {
  color: #0093a1;
}
@media (min-width: 76.875em) {
  .buy__title {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__title {
    margin-bottom: clamp( 1.875rem , 1.4354395604rem  +  2.1978021978vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .buy__title {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .buy__title {
    font-size: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__title {
    font-size: clamp( 1.875rem , 0.9958791209rem  +  4.3956043956vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .buy__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .buy__list {
    margin-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__list {
    margin-bottom: clamp( 1.25rem , 1.1401098901rem  +  0.5494505495vw , 1.5625rem );
  }
}
@media (max-width: 20em) {
  .buy__list {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .buy__item {
    margin-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__item {
    margin-bottom: clamp( 1.25rem , 1.1401098901rem  +  0.5494505495vw , 1.5625rem );
  }
}
@media (max-width: 20em) {
  .buy__item {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .buy__item {
    width: 17.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__item {
    width: clamp( 0.625rem , -5.418956044rem  +  30.2197802198vw , 17.8125rem );
  }
}
@media (max-width: 20em) {
  .buy__item {
    width: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .buy__item {
    width: 100%;
  }
}
.buy__item-title {
  font-weight: 700;
  transition: color 0.3s ease 0s;
}
@media (min-width: 76.875em) {
  .buy__item-title {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__item-title {
    font-size: clamp( 0.9375rem , 0.8715659341rem  +  0.3296703297vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .buy__item-title {
    font-size: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .buy__item-title {
    line-height: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__item-title {
    line-height: clamp( 1rem , 0.8681318681rem  +  0.6593406593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .buy__item-title {
    line-height: 1rem;
  }
}
@media (min-width: 76.875em) {
  .buy__item-title {
    margin-bottom: 0.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__item-title {
    margin-bottom: clamp( 0.125rem , 0.0590659341rem  +  0.3296703297vw , 0.3125rem );
  }
}
@media (max-width: 20em) {
  .buy__item-title {
    margin-bottom: 0.125rem;
  }
}
.buy__item-title:hover {
  color: #0093a1;
}
.buy__item-text {
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #262c27;
}
@media (min-width: 76.875em) {
  .buy__item-text {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__item-text {
    font-size: clamp( 0.9375rem , 0.8715659341rem  +  0.3296703297vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .buy__item-text {
    font-size: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .buy__item-text {
    line-height: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__item-text {
    line-height: clamp( 1rem , 0.8681318681rem  +  0.6593406593vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .buy__item-text {
    line-height: 1rem;
  }
}
.buy__price {
  position: absolute;
  background-size: cover;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/Star.svg);
  transition: transform 0.3s ease 0s;
}
@media (min-width: 76.875em) {
  .buy__price {
    bottom: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__price {
    bottom: clamp( 8.125rem , 8.125rem  +  0vw , 8.125rem );
  }
}
@media (max-width: 20em) {
  .buy__price {
    bottom: 8.125rem;
  }
}
@media (min-width: 76.875em) {
  .buy__price {
    right: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__price {
    right: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .buy__price {
    right: 0rem;
  }
}
@media (min-width: 76.875em) {
  .buy__price {
    width: 12.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__price {
    width: clamp( 3.125rem , -0.1936813187rem  +  16.5934065934vw , 12.5625rem );
  }
}
@media (max-width: 20em) {
  .buy__price {
    width: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .buy__price {
    height: 12.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__price {
    height: clamp( 3.125rem , -0.1497252747rem  +  16.3736263736vw , 12.4375rem );
  }
}
@media (max-width: 20em) {
  .buy__price {
    height: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .buy__price {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__price {
    font-size: clamp( 0.625rem , 0.0755494505rem  +  2.7472527473vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .buy__price {
    font-size: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .buy__price {
    line-height: 2.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__price {
    line-height: clamp( 0.625rem , -0.0782967033rem  +  3.5164835165vw , 2.625rem );
  }
}
@media (max-width: 20em) {
  .buy__price {
    line-height: 0.625rem;
  }
}
.buy__price:hover {
  transform: scale(1.3);
}
@media (max-width: 47.99875em) {
  .buy__price {
    bottom: auto;
    top: 500px;
  }
}
.buy__btn {
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  color: #0093a1;
  background-color: transparent;
  border: 2px solid #0093a1;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease 0s;
}
@media (min-width: 76.875em) {
  .buy__btn {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__btn {
    font-size: clamp( 0.625rem , -0.0343406593rem  +  3.2967032967vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .buy__btn {
    font-size: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .buy__btn {
    line-height: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__btn {
    line-height: clamp( 1.875rem , 1.5453296703rem  +  1.6483516484vw , 2.8125rem );
  }
}
@media (max-width: 20em) {
  .buy__btn {
    line-height: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .buy__btn {
    padding: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .buy__btn {
    padding: clamp( 1rem , 0.956043956rem  +  0.2197802198vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .buy__btn {
    padding: 1rem;
  }
}
.buy__btn:hover {
  background-color: #b9c400;
  border-color: #b9c400;
  color: #262c27;
}
.buy__img {
  max-width: 100%;
}

@media (min-width: 76.875em) {
  .technology {
    margin-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology {
    margin-bottom: clamp( 7.5rem , 6.8406593407rem  +  3.2967032967vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .technology {
    margin-bottom: 7.5rem;
  }
}
.technology__top {
  background-image: url(../img/tech-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.technology__top-inner {
  position: relative;
  min-height: 110vh;
}
.technology__btn {
  top: 50vh;
}
@media (min-width: 76.875em) {
  .technology__btn {
    right: 21.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__btn {
    right: clamp( 18.75rem , 17.6510989011rem  +  5.4945054945vw , 21.875rem );
  }
}
@media (max-width: 20em) {
  .technology__btn {
    right: 18.75rem;
  }
}
.technology__top-box {
  position: absolute;
}
@media (min-width: 76.875em) {
  .technology__top-box {
    left: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__top-box {
    left: clamp( 0.625rem , 0.625rem  +  0vw , 0.625rem );
  }
}
@media (max-width: 20em) {
  .technology__top-box {
    left: 0.625rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 76.875em) {
  .technology__top-box {
    top: 6.25rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  .technology__top-box {
    top: clamp( 6.25rem , 6.25rem  +  0vw , 6.25rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .technology__top-box {
    top: 6.25rem;
  }
}
.technology__title {
  color: #262c27;
}
@media (min-width: 76.875em) {
  .technology__title {
    max-width: 29.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__title {
    max-width: clamp( 0.625rem , -9.4848901099rem  +  50.5494505495vw , 29.375rem );
  }
}
@media (max-width: 20em) {
  .technology__title {
    max-width: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .technology__title {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__title {
    margin-bottom: clamp( 0rem , -0.2197802198rem  +  1.0989010989vw , 0.625rem );
  }
}
@media (max-width: 20em) {
  .technology__title {
    margin-bottom: 0rem;
  }
}
@media (max-width: 47.99875em) {
  .technology__title {
    max-width: 100%;
  }
}
@media (min-width: 76.875em) {
  .technology__List {
    margin: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__List {
    margin: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .technology__List {
    margin: 0rem;
  }
}
@media (min-width: 76.875em) {
  .technology__List {
    padding-left: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__List {
    padding-left: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .technology__List {
    padding-left: 0.9375rem;
  }
}
.technology__list-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #262c27;
}
@media (min-width: 76.875em) {
  .technology__list-item {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__list-item {
    font-size: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .technology__list-item {
    font-size: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .technology__list-item {
    line-height: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__list-item {
    line-height: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .technology__list-item {
    line-height: 1rem;
  }
}
@media (min-width: 76.875em) {
  .technology__list-item {
    padding-left: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__list-item {
    padding-left: clamp( 1.25rem , 1.1620879121rem  +  0.4395604396vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .technology__list-item {
    padding-left: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .technology__list-item {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .technology__list-item {
    margin-bottom: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem );
  }
}
@media (max-width: 20em) {
  .technology__list-item {
    margin-bottom: 0.625rem;
  }
}

.gallery__box {
  display: flex;
}
@media (min-width: 76.875em) {
  .gallery__box {
    gap: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery__box {
    gap: clamp( 1.875rem , 1.0398351648rem  +  4.1758241758vw , 4.25rem );
  }
}
@media (max-width: 20em) {
  .gallery__box {
    gap: 1.875rem;
  }
}
@media (min-width: 76.875em) {
  .gallery__box {
    margin-top: 7.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery__box {
    margin-top: clamp( 6.25rem , 5.9203296703rem  +  1.6483516484vw , 7.1875rem );
  }
}
@media (max-width: 20em) {
  .gallery__box {
    margin-top: 6.25rem;
  }
}
@media (max-width: 73.75em) {
  .gallery__box {
    flex-wrap: wrap;
  }
}
.gallery__text {
  font-weight: 400;
  color: #262c27;
}
@media (min-width: 76.875em) {
  .gallery__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery__text {
    font-size: clamp( 0.9375rem , 0.8715659341rem  +  0.3296703297vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .gallery__text {
    font-size: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .gallery__text {
    line-height: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery__text {
    line-height: clamp( 1rem , 0.8241758242rem  +  0.8791208791vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .gallery__text {
    line-height: 1rem;
  }
}
@media (max-width: 61.99875em) {
  .gallery__text {
    width: 100%;
  }
}

.gallery-min {
  display: grid;
  gap: 30px 24px;
  grid-template-columns: 481px 208px;
  grid-template-rows: 432px 300px;
  margin-top: -30%;
  position: relative;
}
@media (min-width: 76.875em) {
  .gallery-min {
    margin-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min {
    margin-bottom: clamp( 6.25rem , 5.1510989011rem  +  5.4945054945vw , 9.375rem );
  }
}
@media (max-width: 20em) {
  .gallery-min {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 76.875em) {
  .gallery-min {
    left: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min {
    left: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .gallery-min {
    left: 0rem;
  }
}
@media (min-width: 76.875em) {
  .gallery-min {
    padding-top: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min {
    padding-top: clamp( 3.125rem , 2.6414835165rem  +  2.4175824176vw , 4.5rem );
  }
}
@media (max-width: 20em) {
  .gallery-min {
    padding-top: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .gallery-min {
    padding-bottom: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min {
    padding-bottom: clamp( 2.5rem , 2.2362637363rem  +  1.3186813187vw , 3.25rem );
  }
}
@media (max-width: 20em) {
  .gallery-min {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 76.875em) {
  .gallery-min {
    padding-right: 1.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min {
    padding-right: clamp( 1.25rem , 1.0082417582rem  +  1.2087912088vw , 1.9375rem );
  }
}
@media (max-width: 20em) {
  .gallery-min {
    padding-right: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .gallery-min {
    padding-left: 1.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min {
    padding-left: clamp( 1.25rem , 1.0082417582rem  +  1.2087912088vw , 1.9375rem );
  }
}
@media (max-width: 20em) {
  .gallery-min {
    padding-left: 1.25rem;
  }
}
.gallery-min::before {
  content: "";
  position: absolute;
  border: 3px solid #262c27;
  border-radius: 200px 0px 300px;
}
@media (min-width: 76.875em) {
  .gallery-min::before {
    bottom: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min::before {
    bottom: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .gallery-min::before {
    bottom: 0rem;
  }
}
@media (min-width: 76.875em) {
  .gallery-min::before {
    left: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min::before {
    left: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .gallery-min::before {
    left: 0rem;
  }
}
@media (min-width: 76.875em) {
  .gallery-min::before {
    top: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min::before {
    top: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .gallery-min::before {
    top: 0rem;
  }
}
@media (min-width: 76.875em) {
  .gallery-min::before {
    right: 0rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-min::before {
    right: clamp( 0rem , 0rem  +  0vw , 0rem );
  }
}
@media (max-width: 20em) {
  .gallery-min::before {
    right: 0rem;
  }
}
@media (max-width: 29.99875em) {
  .gallery-min::before {
    display: none;
  }
}
@media (max-width: 73.75em) {
  .gallery-min {
    margin-top: 0;
  }
}
@media (max-width: 61.99875em) {
  .gallery-min {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    gap: 10px;
  }
}
@media (max-width: 61.99875em) {
  .gallery-min__img {
    width: 100%;
    align-self: stretch;
  }
}
.gallery-min__img--1 {
  grid-column: 1/3;
  border-radius: 400px 0px 0px 0px;
}
.gallery-min__img--2 {
  border-radius: 0px 0px 0px 300px;
}

.gallery-max {
  display: grid;
  grid-template-columns: 300px 469px 391px;
  grid-template-rows: 340px 270px 270px;
}
@media (min-width: 76.875em) {
  .gallery-max {
    gap: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-max {
    gap: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .gallery-max {
    gap: 0.625rem;
  }
}
@media (max-width: 76.875em) {
  .gallery-max {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
  }
}
.gallery-max__img {
  width: 100%;
  align-self: stretch;
}
.gallery-max__img--2 {
  grid-column: 2/-1;
  justify-self: end;
  border-radius: 0px 500px 0px 0px;
}
.gallery-max__img--3 {
  border-radius: 0px 0px 150px 0px;
}
.gallery-max__img--4 {
  border-radius: 0px 200px 0px 0px;
}
.gallery-max__img--5 {
  border-radius: 200px 0px 0px 0px;
}
.gallery-max__text {
  background-color: #0093a1;
  border: 1px solid #0093a1;
  border-radius: 0px 0px 0px 200px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 76.875em) {
  .gallery-max__text {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-max__text {
    font-size: clamp( 1.25rem , 0.9862637363rem  +  1.3186813187vw , 2rem );
  }
}
@media (max-width: 20em) {
  .gallery-max__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 76.875em) {
  .gallery-max__text {
    line-height: 2.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .gallery-max__text {
    line-height: clamp( 1.25rem , 0.8324175824rem  +  2.0879120879vw , 2.4375rem );
  }
}
@media (max-width: 20em) {
  .gallery-max__text {
    line-height: 1.25rem;
  }
}
.gallery-max__img--6 {
  grid-column: 2/-1;
  border-radius: 0px 0px 0px 400px;
}
