@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
:root {
  --bg-color: #121b25;
  --accent-color: #1aa090;
  --text-color: #d6d6d6;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* img {
  max-width: 100%;
}

html,
body {
  height: 100%;
  min-width: 320pxpx;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  color: #fff;
}
body._lock {
  overflow: hidden;
}

[class*=_container] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  line-height: 1.26;
  text-transform: capitalize;
  color: #ffffff;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #d6d6d6;
}

.link {
  display: inline-block;
  margin-top: 45px;
  padding: 22px 42px;
  background-color: var(--accent-color);
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .link:hover {
    background-color: #15786c;
  }
}

.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  max-width: 200px;
}
.header__logo img {
  max-width: 100%;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.header__btn {
  padding: 11px 20px;
  color: #fff;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__btn:hover {
    background-color: var(--accent-color);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}
.menu__body {
  padding: 20px 0;
}
@media (max-width: 991.98px) {
  .menu__body {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100vw;
    background-color: var(--accent-color);
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(0.625rem, -1.584rem + 4.6vw, 2.5rem);
}
@media (max-width: 991.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
}
.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--text-color);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  position: relative;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 3px;
  opacity: none;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #fff;
  }
  .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 991.98px) {
  .menu__link {
    line-height: 50px;
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  .login {
    display: none;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .icon-menu span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .icon-menu._active span:last-child {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.hero {
  margin: clamp(1.875rem, 1.057rem + 4.09vw, 4.688rem) 0px 0px 0px;
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  position: relative;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.2957746479%;
          flex: 0 0 49.2957746479%;
  padding-bottom: clamp(0.625rem, -8.49rem + 20.83vw, 10rem);
}
.hero__title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  line-height: 1.26;
  text-transform: capitalize;
}
.hero__text {
  margin-top: 18px;
}
.hero__filter {
  height: 100px;
  width: 840px;
  background-color: #fff;
  margin-top: 60px;
  position: absolute;
}
@media (max-width: 991.98px) {
  .hero__filter {
    width: 100%;
    position: static;
  }
}
.hero__decor {
  position: absolute;
  bottom: -140px;
  right: 0;
  z-index: -1;
}
@media (max-width: 576px) {
  .hero__decor {
    height: 300px;
  }
}
.hero__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.2957746479%;
          flex: 0 0 49.2957746479%;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .hero__img {
    display: none;
  }
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
}
@media (max-width: 576px) {
  .filter {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    height: auto;
  }
}
@media (max-width: 475px) {
  .filter {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.filter__block:nth-child(2) {
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.filter__btn {
  padding: 5px;
}
.filter__btn button {
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px;
}
.filter__btn button:active {
  background-color: #15786c;
}
@media (max-width: 576px) and (min-width: 475px) {
  .filter__btn {
    grid-column: 1/4;
  }
}

.block-filter {
  position: relative;
}
.block-filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
}
.block-filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-filter__type {
  padding-right: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #858585;
}
.block-filter__icon {
  height: 7px;
  width: 9px;
  background: url("../img/icons/Vector.svg") center bottom no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.block-filter__icon._active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.block-filter__value {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.26;
  text-transform: capitalize;
  color: #121b25;
}
.block-filter__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0 0 2px 5px #000;
          box-shadow: 0 0 2px 5px #000;
}
.block-filter__dropdown._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.block-filter__item {
  padding: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: capitalize;
  cursor: pointer;
}
@media (any-hover: hover) {
  .block-filter__item:hover {
    background-color: #adadad;
  }
}

.featured {
  padding-top: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
}
.featured__box {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  overflow: auto;
}
.featured__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.popular {
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
  background: #1a242f url("../img/mask.png") center center/cover no-repeat;
}
.popular__slider {
  margin-top: 40px;
  position: relative;
}
.popular__link {
  text-align: center;
  margin-top: 65px;
}
.popular__link a {
  display: inline-block;
  padding: 22px 42px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 auto;
  background-color: var(--accent-color);
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .popular__link a:hover {
    background-color: #15786c;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.popular-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
}
@media (max-width: 660px) {
  .popular-slide {
    text-align: center;
  }
}
.popular-slide__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.26;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #ffffff;
}
.popular-slide__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 660px) {
  .popular-slide__labels {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.popular-slide__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-buttons {
  position: absolute;
  cursor: pointer;
  top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (max-width: 1500px) {
  .slider-buttons {
    top: -100px;
    right: 0;
    width: auto;
    gap: 30px;
  }
}

.popular-slider-btn__next {
  background: url("../img/slider/arrow-left.svg") center center no-repeat;
  position: absolute;
  left: -130px;
}

.popular-slider-btn__prev {
  background: url("../img/slider/arrow-right.svg") center center no-repeat;
  position: absolute;
  right: -130px;
}

.popular-slider-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 10px solid var(--accent-color);
  cursor: pointer;
}
@media (max-width: 1800px) {
  .popular-slider-btn {
    position: static;
  }
}
@media (max-width: 660px) {
  .popular-slider-btn {
    display: none;
  }
}

.why {
  padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);
}
.why__title {
  text-align: center;
}
.why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
  gap: clamp(1.25rem, 0.705rem + 2.73vw, 3.125rem);
}
@media (max-width: 767.98px) {
  .why__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26.4788732394%;
          flex: 0 0 26.4788732394%;
}
.item-why__img {
  width: clamp(6.25rem, 4.795rem + 10vw, 11.25rem);
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: clamp(1.563rem, 1.362rem + 1vw, 2.25rem);
}
.item-why__img::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.12;
}
.item-why__img svg {
  width: 40%;
  height: 40%;
}
.item-why__title {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.item-why__text {
  margin-top: 11px;
}

.reviews {
  position: relative;
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  padding-top: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);
}
.reviews__deco {
  position: absolute;
  top: -510px;
  left: 0;
  z-index: -2;
}
@media (max-width: 475px) {
  .reviews__deco {
    display: none;
  }
}
.reviews__container {
  max-width: 1020px;
  margin: 0 auto;
}
.reviews__quotes {
  margin-bottom: clamp(0.625rem, 0.261rem + 1.82vw, 1.875rem);
}
.reviews__slider {
  position: relative;
}

.slider-reviews__text {
  font-weight: 400;
  font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
  line-height: 1.57;
  text-transform: capitalize;
  margin-bottom: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
}
.slider-reviews__name {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin-bottom: clamp(0.625rem, 0.443rem + 0.91vw, 1.25rem);
}
.slider-reviews__buttons {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
  width: 115px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.slider-reviews__buttons::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background: #767f89;
  width: 1px;
}

.swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-reviews-btn {
  fill: #fff;
}
.slider-reviews-btn.swiper-button-disabled {
  fill: #767f89;
}

.gallery {
  background: -webkit-gradient(linear, right top, left top, color-stop(0.01%, #1a242f), color-stop(82.97%, rgba(26, 36, 47, 0)));
  background: -o-linear-gradient(right, #1a242f 0.01%, rgba(26, 36, 47, 0) 82.97%);
  background: linear-gradient(270deg, #1a242f 0.01%, rgba(26, 36, 47, 0) 82.97%);
  padding: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem) 0;
}
.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.875rem, 1.275rem + 3vw, 3.938rem);
}
@media (max-width: 991.98px) {
  .gallery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.gallery__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  width: 50.7042253521%;
}
@media (max-width: 991.98px) {
  .gallery__box {
    width: 100%;
  }
}
.gallery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  aspect-ratio: 7/11;
}
.gallery__item .swiper-wrapper {
  position: relative;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__info {
  max-width: clamp(25rem, 20.636rem + 21.82vw, 40rem);
}
@media (max-width: 475px) {
  .gallery__info {
    text-align: center;
  }
}
@media (min-width: 991.98px) {
  .gallery__title {
    max-width: 520px;
    margin-bottom: 22px;
  }
}
.gallery__text {
  margin-bottom: 45px;
}
.gallery__link {
  display: inline-block;
  padding: 22px 42px;
  background-color: var(--accent-color);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
  color: #ffffff;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .gallery__link:hover {
    background-color: #15786c;
  }
}

.begin {
  position: relative;
  padding: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem) 0;
}
.begin .begin-wave {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -250px;
}
@media (max-width: 475px) {
  .begin .begin-wave {
    width: 200px;
  }
}
.begin .begin-rect {
  position: absolute;
  top: -77px;
  right: 0;
}
@media (max-width: 475px) {
  .begin .begin-rect {
    display: none;
  }
}
.begin__container {
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media (max-width: 767.98px) {
  .begin__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.begin__slogan {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  line-height: 1.26;
  text-transform: capitalize;
  color: #ffffff;
}
.begin__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.begin__text {
  margin-bottom: 50px;
}
.footer {
  background-color: #1a242f;
  padding-top: clamp(1.875rem, -0.125rem + 10vw, 8.75rem);
}
.footer__main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: clamp(1.875rem, -17.024rem + 30.24vw, 9.813rem);
  padding-bottom: clamp(1.875rem, 0.784rem + 5.45vw, 5.625rem);
}
@media (max-width: 991.98px) {
  .footer__main {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 600px) {
  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .footer__block {
    grid-column: 1/5;
  }
  .footer__block:not(:first-child) {
    grid-row: 2/3;
    grid-column: auto;
  }
}
.footer__text {
  margin: 22px 0 32px;
}
@media (min-width: 991.98px) {
  .footer__text {
    width: 340px;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (max-width: 600px) {
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__social {
  fill: #555e68;
}
@media (any-hover: hover) {
  .footer__social:hover {
    fill: #fff;
  }
}
.footer__copyryght {
  padding: 15px 0;
  border-top: 1px solid #303a44;
}

.copyryght__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 700px) {
  .copyryght__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

.links-footer__header {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 11px;
}
.links-footer__link {
  white-space: nowrap;
}
@media (any-hover: hover) {
  .links-footer__link:hover {
    color: #fff;
  }
}